<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="d-flex">
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex">
                <input class="form-control" type="text" name="">
            </form>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn me-md-2 btn-log-in" type="button" onclick="signUp()">Sign up</button>
            <button class="btn btn-outline-primary" type="button">Create account</button>
        </div>
    </div>
</nav>

<div class="row index-body">

    <div class="col-6 col-md-3">
        <div class="card left-menu">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-6">
        <div class="row">
            <div class="col-2">
                <h5 style="font-weight: bold;">Latest</h5>
            </div>
            <div class="col-2">
                <h5 style="font-weight: bold;">Top</h5>
            </div>
            <div class="col-8 d-flex justify-content-md-end">
                <button type="button" class="btn btn-primary btn-sm" onclick="writeNew()" style="margin-bottom: 10px;">Create</button>
            </div>
        </div>

        <div class="col mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-3">
        <div class="right-tags">
            <div class="d-flex">
                <h5 style="font-weight: bold;">Tags</h5>
            </div>
            <div style="height: 50px;"></div>
            <div class="d-flex">
                    <span>
                        tags
                    </span>
            </div>
        </div>
    </div>

</div>

<script>
    function writeNew() {
        window.location.href = "/new";
    }
</script>

<script>
    function signUp() {
        window.location.href = "/signUp";
    }
</script>

</body>

</html>